/* Global Styles */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #222;
}

header {
    background-color: #444;
    padding: 20px;
    color: white;
}

h1 {
    margin-bottom: 10px;
}

/* Filter Buttons */
.filter-buttons {
    margin-bottom: 20px;
}

.filter-btn {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.filter-btn:hover {
    background-color: #0056b3;
}

/* Items Container */
.items-container {
    margin-top: 50px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    padding: 20px;
    background-color: #eaeaea;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}